.coin-table-row{
    border: none;
}
.coin-table-row hr{
    display: none;
}

Table{
    line-height: 60px;
    padding: 0 55px 0 100px;
}

.red {
    color: #f00606;
}
  
.green {
    color: #11d811;
}

.coin-name-section img{
    position: relative;
    top: 8px;
    right: 7px;
}

.coin-line{
    width: 330%;
    height: 1px;
    background-color: lightgrey;
}

@media only screen and (max-width: 980px){
.coin-line{
    width: 340%;
}
}

@media only screen and (max-width: 930px){
    .coin-line{
        width: 360%;
    }
}

@media only screen and (max-width: 900px){
    .coin-line{
        width: 400%;
    }
}

@media only screen and (max-width: 640px){

    .coin-table-row{
        border: none;
        padding: 0;
    }

    Table{
        padding: 0;
    }

    .coin-name-section img{
    height: 19px;
    width: 19px;
    position: relative;
    top: 4px;
    right: 7px;
}

.coin-line{
    display:none;
}
.coin-table-row hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
}